---
layout: archive
permalink: /stipc-2025/
title: "STIPC"
author_profile: true
redirect_from:
  - /stip/
  - /stipc/
  - /challenge/
---

<!-- {% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.stipc-2025 %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %} -->

<!-- This bit below is modelled after DannyQuah.github.io approach to working-papers -->

{% include base_path %}

{% for post in site.stipc-2025 reversed %}
  {% include archive-single.html %}
{% endfor %}